<li class="list-group-item">
  
  <%= bet.attributes.team.city %>
  <%= bet.attributes.team.name %>
  <%= bet.odds %>
	<br>
  <%= bet.game.attributes.day.date %>
	
  <form role="form" class="new-bet-form">
    <input
      type="hidden"
      name="bet[game_id]"
      value="<%= bet.game.attributes.id %>">
      
    <input
      type="hidden"
      name="bet[team_id]"
      value="<%= bet.attributes.team.id %>">
      
    <div class="form-group">      
      <label for="amount">bet $</label>
      <input 
        id="amount"
        name="bet[amount]"
        class="form-control"
        type="text">

			<!-- add handler to calculate win amount during bet input
      <label for="win-amount">win $</label>
      <input
        id="win-amount"
        class="form-control"
        type="text"> -->
		</div>
		<input type="submit" value="Place Bet" class="btn btn-danger">
		<button type="button" class="btn btn-primary remove-bet">Remove Bet</button>
  </form>
</li>